database_user: mikenskiet_db_user
database_password: 1eenT0Ttien10@S3c!
database_name: mikenskiet_db
root_password: TienT0T3lf
app_root_directory: /var/www/html/mikenskiet
virtualenv_name: mikenskietenv
static_dir:  /var/www/html/mikenskiet/static
app_name: mikenskietapp

nginx_path: /etc/nginx/conf.d/

system_path: /etc/systemd/system
server_name: mem.griessels.site
