[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=root
Group=www-data
WorkingDirectory={{ app_root_directory }}
ExecStart={{ app_root_directory }}/{{ virtualenv_name }}/bin/gunicorn --access-logfile - --workers 3 --bind unix:/run/gunicorn.sock          {{app_name}}.wsgi:application

[Install]
WantedBy=multi-user.target