server {
     listen 80;
     server_name {{ server_name }};
     server_name 157.245.73.157;
    location = /favicon.ico { access_log off; log_not_found off; }


    location /static/ {
         root {{ app_root_directory }};
     }

    location / {
         include proxy_params;
         proxy_pass http://unix:/run/gunicorn.sock;
     }
}